* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Inter", sans-serif;
	height: 100vh;
	background-color: #23252c;
	height: 550px;
	width: 879px;
}

#root {
	margin: 45px auto;
	background-color: red;
	width: 317px;
	background-color: #f5f5f5;
	border-radius: 15px;
}

.info__img {
	width: 317px;
	display: block;
	margin: 0 auto;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
.info__block--text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info__block--name {
	margin-top: 20px;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
}

.info__block--job {
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	margin: 6px 0 8px 0;
	color: #f47d27;
}

.info--website {
	font-size: 10px;
	line-height: 150%;
	text-decoration: none;
	color: #4a4e74;
}

.info__block--btns {
	display: flex;
	justify-content: center;
	gap: 17px;
	margin: 17px;
}

.btn {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	padding: 9px 13px;
	width: 115px;
	height: 34px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
}
.info__block--btns a {
	text-decoration: none;
}
.email-btn {
	background-color: #ffffff;
	border: 1px solid #d1d5db;
}
.email-btn a {
	color: #374151;
}

.email-btn a::before {
	color: #374151;
	content: url(./images/email.png);
	margin: 9px;
	border: none;
	width: 13px;
	height: 10px;
}

.linkedin-btn {
	background-color: #297fe5;
	border: none;
}

.linkedin-btn a {
	color: #fff;
}

.linkedin-btn a::before {
	color: #fff;
	content: url(./images/linkedin.png);
	margin: 9px;
}

.container {
	max-width: 250px;
	margin: 25px auto;
}
.title {
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.about__paragraph,
.interests__paragraph {
	font-size: 10px;
	line-height: 15px;
}
